.artist .artist-background{
  background: linear-gradient(to right top, #25099a, #45005f);
  color: #fcffff;
  padding-top: 20px;
  padding-left: 170px;
  padding-right: 170px;
  padding-bottom: 60px;
  font-family: "Poppins", sans-serif;
}
.artist .card-img{
  height: 390px;
}
.artist .sty-b{
        text-decoration: underline;
        /* text-decoration-color: #03C6F2; 
        text-decoration-thickness: 2px; */
}
.artist{
  color: #fcffff;
  font-family: "Poppins", sans-serif;
}
.artist .artistof{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 50px;
    background-color: inherit;
    color: #fcffff;
    border: 1px solid #FEFCFD;
    border-radius: 3px;
}
.artist .btn-contact {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 41px;
    background-color: #0024FF;
    color: #fcffff;
    border: 1px solid #FEFCFD;
    border-radius: 3px;
}
.artist .card{
    border: 0px;
    border-radius: 0px;
}
.artist .headlist{
    align-items: center;
    justify-content: center;
    font-family: "Playfair Display", serif !important;
}
.artist .prof-image{
    border-radius: 50%;
}
.artist .links {
  justify-content: center;
  align-items: center;
  color: #fcffff;
}
.artist .links a {
  color: #fcffff;
  text-decoration: none;
}
@media (max-width:750px) {
  .artist .artist-background{
    padding: 20px;
  }
}